<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-4 footer-company-title">
            <h1>Afrikatek Solutions</h1>
            <input type="text" placeholder="Subscribe for newsletter"/>
            <button type="submit">Subscribe</button>
          </div>
          <div class="col-lg-8">
            <div class="row footer-links">
              <div class="col-md-3"></div>
              <div class="col-md-3">
                <ul>
                  <li>
                    <a href="#">Home</a>
                  </li>
                  <li>
                    <a href="#">Services</a>
                  </li>
                  <li>
                    <a href="#">Projects</a>
                  </li>
                  <li>
                    <a href="#">Contact Us</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <ul>
                  <li>
                    <a href="#">Link 5</a>
                  </li>
                  <li>
                    <a href="#">Link 6</a>
                  </li>
                  <li>
                    <a href="#">Link 7</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <ul>
                  <li>
                    <a href="#">Link 8</a>
                  </li>
                  <li>
                    <a href="#">Link 9</a>
                  </li>
                  <li>
                    <a href="#">Link 10</a>
                  </li>
                  <li>
                    <a href="#">Link 11</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 footer-socials">
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-youtube"></i>
      </div>
      <div class="col-md-9 footer-copyrights">
        <span>Copyright @ 2024 Afrikatek Solutions, Pvt (Ltd).</span>
        <span>Made in Africa</span>
        <span>+2767 972 5177</span>
        <span>Terms of Service</span>
        <span>Privacy Policy</span>
      </div>
    </div>
  </div>
</div>
